*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: rgb(255,255,221);
    height: 100vh;
    display: grid;
    place-items: center;
}
form{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
    width: 60%;
    height: 70%;
    margin: 16px;
    padding: 8rem 4rem;
}
h1{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}
button{
    background-color: rgb(92, 52, 3);
    border-radius: 5px;
    width: 10rem;
    height: 12rem;
    color: white;
    align-self: center;
    border: none;
    cursor: pointer;
    padding: 1rem 2re,;
}